<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>

    <header>
      <h1 class="header"> <%= htmlWebpackPlugin.options.myPageHeader %> </h1>
    </header>

    <main>
        <section class="main-wrapper">
          <section class="description-wrapper">

            <div class="description-text">
              <h2 class="description-title">Piskel is a free online editor for animated sprites & pixel art</h2>
              <p class="description-descr">Create animations in your browser.</p>
              <button class="start-piskel" type="button"><a class="create" href="./piskel.html">Create Sprite</a></button>
            </div>

            <div class="screenshot-wrapper" id="screenshot-wrapper">
              <img class="screen-img" id="screen-img" alt="App Screenshot">
            </div>
          </section>

          <section class="sprites-main-wrapper">
            <div class="sprites-wrapper">
              <h2 class="sprites-title">Example sprites</h2>
              <p class="sprites-descr">Here are some examples of user submitted sprites.</p>

              <div class="sprites" id="sprites">
                <img class="sprite-img" id="fish-img" alt="Fish">
                <img class="sprite-img" id="cat-img" alt="Cat">
                <img class="sprite-img" id="humans-img" alt="Humans">
              </div>
            </div>
          </section>

          <section class="options-main-wrapper">
            <div class="options-wrapper">
              <h2 class="options-title">Options</h2>
              <p class="options-descr">You can use these tools to do magic:</p>
              <div class="options-panel">
                <div class="option-wrapper">
                  <p class="option">Pen Tool</p>
                </div>
                <div class="option-wrapper">
                  <p class="option">Eraser Tool</p>
                </div>
                <div class="option-wrapper">
                  <p class="option">Color Picker Tool</p>
                </div>
                <div class="option-wrapper">
                  <p class="option">Stroke Tool</p>
                </div>
                <div class="option-wrapper">
                  <p class="option">Mirror Line Tool</p>
                </div>
                <div class="option-wrapper">
                  <p class="option">Rectangle Tool</p>
                </div>
                <div class="option-wrapper">
                  <p class="option">Circle Tool</p>
                </div>
                <div class="option-wrapper">
                  <p class="option">Move Tool</p>
                </div>
                <div class="option-wrapper">
                  <p class="option">Lighten Tool</p>
                </div>
                <div class="option-wrapper">
                  <p class="option">Darken Tool</p>
                </div>
                <div class="option-wrapper">
                  <p class="option">Paint All Same Pixels Tool</p>
                </div>
                <div class="option-wrapper">
                  <p class="option">Paint All Pixels Tool</p>
                </div>
                <div class="option-wrapper">
                  <p class="option">Rotate Tool</p>
                </div>
                <div class="option-wrapper">
                  <p class="option">Flip Vertically Tool</p>
                </div>
                <div class="option-wrapper">
                  <p class="option">Canvas Clear Tool</p>
                </div>
              </div>
            </div>
          </section>
        </section>
    </main>

    <footer>
      <div class="footer-wrapper">
        <p class="author">Created by <a class="github-link" href="https://github.com/net-ka">Anna Fedosova</a></p>
        <p class="original"><a class="github-link" href="https://github.com/jollycopper/pickel">Original Piskel source</a></p>
      </div>
    </footer>

  </body>
</html>
